AI_agent_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "requirements",
              "fieldType": "file"
            },
            {
              "fieldLabel": "employee",
              "fieldType": "file",
              "acceptFileTypes": ".csv"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -720,
        20
      ],
      "id": "83acd243-5eb0-438d-aba5-95b60b64b5df",
      "name": "On form submission",
      "webhookId": "560b1ac1-4383-4851-bc6c-07a6d97346aa"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=requirements",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -280,
        -80
      ],
      "id": "0abbf48b-da05-469f-b4db-2e529caf6351",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": " text",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -60,
        -80
      ],
      "id": "2eeb5b33-3db9-498f-8ffc-7b08de3d87d4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "extract skillset from the users text and output into a json of single array"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        140,
        -160
      ],
      "id": "aec9429d-4fd3-420d-af78-8222c02c8e86",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        188,
        140
      ],
      "id": "7e2b2471-dc56-41c3-b1f7-bef17103c128",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "093Gwd1nCmy8iyIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "requirements,employee",
        "include": "allOtherFields",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -500,
        20
      ],
      "id": "0d98c251-8b5d-4951-8448-5c78931f07c7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "binaryPropertyName": "employee",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -280,
        120
      ],
      "id": "799430c8-d683-4d17-af70-86e46d797a4b",
      "name": "Extract from File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"skillset\": [\"item1\", \"item2\", \"item3\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        308,
        140
      ],
      "id": "3bc5adad-007c-43b4-bef5-5b1e2e314d66",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and match employees to skillsets\nlet result = {};\nconsole.log($input.all(), \"full obj\");\n\n// Get the skillsets from the first item\nconst skillsets = $input.all()[0].json.output.skillset;\n\n// Initialize result object with empty arrays for each skillset\nfor (const skillset of skillsets) {\n  result[skillset] = [];\n}\n\n// Loop through employees (starting from index 1)\nfor (let index = 1; index < $input.all().length; index++) {\n  const employee = $input.all()[index].json;\n  // Handle the BOM character in the property name\n  const employeeName = employee[\"﻿Employee Name\"] || employee[\"Employee Name\"];\n  const empSkills = employee.Skillset.split(\",\").map(skill => skill.trim()); // trim whitespace\n  \n  console.log(`Processing ${employeeName} with skills:`, empSkills);\n  \n  // Check each skillset against employee's skills\n  for (const skillset of skillsets) {\n    if (empSkills.includes(skillset)) {\n      result[skillset].push(employeeName);\n      console.log(`Match found: ${employeeName} has ${skillset}`);\n    }\n  }\n}\n\nreturn {\n  \"JSON\": result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        80
      ],
      "id": "eed3518b-ba3d-4858-9a44-33b07e602698",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        60
      ],
      "id": "8edefb5f-7ddb-49b9-b7b0-262404057429",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb86713b-8578-4f02-b91c-8b381ff1e0e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "732f2a0f0ca4f2254f6e3e30fbb8e6e16376ac800c181aded25effed53308832"
  },
  "id": "ARVK1MSoEvQIlrJX",
  "tags": []
}